
/*==============HTML TAGS================*/
input[type="text"] {
	width: 300px;
	height: 30px;
	padding-left: 5px;
}
input[type="button"] {
	width: 200px;
	height: 40px;
	font-size: 125%;
	font-family: Open Sans,Arial,sans-serif;
}
em {
	padding-left: 5px;
	color: gray;
	font-family: Open Sans,Arial,sans-serif;
}
label {
	font-family: Open Sans,Arial,sans-serif;
	font-size: 110%;
}
select {
	width: 350px;
	height: 30px;
	padding-left: 5px;	
}
tr {
	white-space: nowrap;	
}
td {
	padding: 10px;
	
}
table {
	width: 40%;	
}
form {
	height: 100%;
	width: 100%;
}
legend {
	font-family: Open Sans,Arial,sans-serif;
	font-size:125%;
	
}
fieldset {	
	font-family: Open Sans,Arial,sans-serif;
	height: 710px;
	width: 108%;
}
q {
	font-family: Open Sans,Arial,sans-serif;
	color: Red;
}
h3 {
	font-family: Open Sans,Arial,sans-serif;	
}
button {
	border-radius: 5px;
	background-color: #3385ff;
	color: white;
	font-weight: bold;
}
input {
	size: 15px;
	border-radius: 5px;
}
body {
	border-color: black;
	border-style: solid;
	border-width: 1px;
}
/*=========================================*/



/*================ CLASES ==============*/
.error {
	color: Red;	
}
.trAlignRight {
	text-align: right;
}
.trAlignRightTop {
	text-align: right;
	vertical-align: text-top;
}
.alignCenter {
	text-align: center;
}
.alignLeft {
	text-align: left;
}
.btnRegistrar {
	position: absolute;
	margin-left: 20%
}
/*=========================================*/






/*======= PORTADA =======*/
#divPortada p {
	font-family: Open Sans,Arial,sans-serif;	
	padding-top: 4%;
	padding-left: 80%;
	float: left;
	color: white;
	font-size: 400%;	
	
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);	
}
#divPortada {	
	background-image: url(../img/imgPortada.jpg);
	background-repeat: round;
	background-size: 100% 100%;	
	height: 200px;
	width: 80%;
	float:right;
    text-align:center;    
}
/*=====================*/

/*====== MENU ==========*/
#divMenu {
    line-height:30px;
    background-color:#eeeeee;
    height:1000px;
    width:20%;	
    float:left;	
	font-family: Verdana, Helvetica, Arial, sans-serif;	
}
#divMenu ul{
	margin-top: 20px;
	margin-left: 0px;	
}
#divMenu li {
  margin-top: 10px;
}
#divMenu a {
  font-family: Verdana, Helvetica, Arial, sans-serif;
}
#divMenu img {
	width:100%;
	height: 90px;
}
#divMenu a:hover {
	font-size: 125%;
}
#divMenu span {
	padding-top: 3%;
	padding-left: 3%;
}
/*========================*/



#divContenido {
	width:70%;
    float:left;
    padding-top:20px;
	padding-bottom:30px;
	padding-left:30px;
}
#divPrincipal h1 {
	text-align: center;
}
#divPrincipal img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

/*============ PIE =============*/
#divPie {    
    color:white;
    clear:both;
    text-align:center;
	padding:5px;
	background-image: url(../img/footer.jpg);
	background-repeat: round;
	background-size: 100%;
}

#divPieLeft {
	width: 50%;
	display: inline;
	
}
#divPieRight {
	width: 40%;
	display: inline;
}
/*================================*/


/*============== CONSULTA POSTULANTES =====================*/

#divConsultaPostulantes select {
	height: 500px;
	width: 500px	
}
/*========================================================*/

#idformPostulante {
	width: 100%;
	height: 500px;
}
#divEmpresaCliente {
	width: 100%;
	height: 500px;
}
#divVacante {
	width: 100%;
	height: 500px;
}
#divExito h1 {
	font-size: 130%;
	font-family: Open Sans,Arial,sans-serif;
	margin-top: 10%;
	margin-left: 10%;
	color: green;	
}
